/* mobile first */

body {
  background-color: black;
  color: #ed639a;
  text-align: center;
}

ul {
  padding: 0px;
}

.nav,
.links {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li {
  padding-top: 0.35em;
  padding-bottom: 0.35em;
}

.main-container {
  position: relative;
}

.main-tag {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid white;
  position: absolute;
  width: 80%;
  height: 50%;
  margin-left: 5.5%;
  margin-top: 12.5%;
  z-index: 1;
  padding: 15px;
  background-color: black;
  opacity: 0.8;
}

img {
  width: 100%;
  height: auto;
}

footer {
  color: white;
}

/* above 600px width */
@media screen and (min-width: 600px) {
  .nav {
    flex-direction: row;
  }

  li {
    padding: 1em;
    font-size: 1.25em;
  }

  .main-tag {
    margin-left: 7.5%;
    margin-top: 15.5%;
  }
}

/* above 1000px width */
@media screen and (min-width: 1000px) {
}
