{% extends "base.html" %} {% block content %}
<header>
  <nav>
    <ul class="nav">
      <li class="header-li"><a href="/">Home</a></li>
      <li class="header-li">
        <a href="volunteer">For volunteers</a>
      </li>
      <li class="header-li">
        <a href="search">For charities</a>
      </li>
      <li><a href="contact.html">Contact us</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1><span class="main-h1__voluptuous">i.t.</span> Volunteer for All</h1>
  <div class="main-container">
    <div class="main-tag">
      <ul class="main-ul">
        <a href="volunteer">
          <li class="main-li">
            Volunteers click here
          </li>
        </a>
        <a href="search">
          <li class="main-li">Charities click here</li>
        </a>
      </ul>
    </div>
    <img src="/rootFolder/assets/art-dark-ethnic-1038041copy1.jpg" alt="" />
  </div>
</main>
<footer>@vfl 2017</footer>
{% endblock %}
