{% extends "base.html" %}

{% block content %}
<div class="topmargin">
<div class=" d-flex justify-content-center">
    <div class="container colour">

        <a href="index.html"><p>Return to homepage</p></a>

<header>
    <h2>Find a volunteer</h2>
</header>

<main>
    <p>To request a volunteer for your charity please complete the following fields:</p>

    <form>

        <p>Select charity categories into which you fall:</p>
        <input type="checkbox" name="" value="">Advice & advocacy<br>
        <input type="checkbox" name="" value="">Anti-Poverty<br>
        <input type="checkbox" name="" value="">Arts & culture <br>
        <input type="checkbox" name="" value="">Care & counselling<br>
        <input type="checkbox" name="" value="">Community <br>
        <input type="checkbox" name="" value="">Crime & ex-offenders <br>
        <input type="checkbox" name="" value="">Development & emergency relief <br>
        <input type="checkbox" name="" value="">Disability <br>
        <input type="checkbox" name="" value="">Education & languages <br>
        <input type="checkbox" name="" value="">Elderly <br>
        <input type="checkbox" name="" value="">Environment & animals <br>
        <input type="checkbox" name="" value="">Health <br>
        <input type="checkbox" name="" value="">Represented groups <br>
        <input type="checkbox" name="" value="">Unemployment <br>
        <input type="checkbox" name="" value="">Youth & children <br>
        <input type="checkbox" name="" value="">Other<br>
        <br>


    <p>Select digital skills required:</p>


        <input type="checkbox" name="" value="">Social media<br>
        <input type="checkbox" name="" value="">Create/update website<br>
        <input type="checkbox" name="" value="">Create an email mailing list<br>
        <input type="checkbox" name="" value="">Add analytics to understand who is using your website<br>
        <input type="checkbox" name="" value="">Create an online newsletter/bulletin<br>
        <input type="checkbox" name="" value="">Ability to setup online fundraising/donations<br>
        <input type="checkbox" name="" value="">Listing items on ebay<br>
        <input type="checkbox" name="" value="">Design online survey/feedback<br>
        <input type="checkbox" name="" value="">Set up new hardware<br>
        <input type="checkbox" name="" value="">Set up new software<br>
        <input type="checkbox" name="" value="">Training in how to use software<br>
        <input type="checkbox" name="" value="">Set up ecommerce within existing website<br>
        <input type="checkbox" name="" value="">Database assistance<br>
        <input type="checkbox" name="" value="">IT projects<br>
        <br>
        <input type="submit" value="Submit">
    </form>



</main>

    </div>
</div>
</div>
{% endblock %}
