{% extends "base.html" %}

{% block content %}

<div class="topmargin">
<div class=" d-flex justify-content-center">
    <div class="container colour">
<header>
    <h2>Acknowledgement</h2>
    <br>
</header>


<main>
    <p>Thanks you for offering your skills. </p>
    <br>
    <p>Once we receive a match, the charity will send you an email.</p>
    <br>
    <p>It is then entirely up to you to decide whether or not to take discussions forward.</p>
    <br>
    <p>All the best with any volunteering you undertake!</p>
    <a href="index.html"><p>Return to homepage</p></a>

</main>
    </div>
</div>
</div>

{% endblock %}
